@import './variables.styl'

.headline
  font-size: 64px
  color: $title-color
  font-family: $primary-font
  font-weight: 400

  &__sm
    font-size: 48px
    color: $title-color
    font-family: $primary-font
    font-weight: 400

.title
  font-size: 20px
  color: $title-color
  font-family: $primary-font
  font-weight: 400

  &__light
    font-size: 20px
    color: $lead-color
    font-family: $primary-font
    font-weight: 400


.lead
  font-size: 16px
  color: $lead-color
  font-family: $primary-font
  font-weight: 400


.text
  font-size: 14px
  color: $title-color
  font-family: $primary-font
  font-weight: 400
