$yellow=#FEE04D
$blue=#96D6F9
$dark-blue=#589AFC
$background=#F9FAFC
$background-white=#fff
$icon-background=#F2F6FF
$disable-color=#F1F2F4
$title-color=#434345
$lead-color=#BBBCBE
$white=#fff

$break-desktop=1024px

$primary-font='DM Sans'